body
    font-family: $default-f
    font-size: $default-fs
    color: $black

.container
    max-width: 1160px
    margin: 0 auto

.hidden
    overflow: hidden

// #H1-H6
h1
    font-size: 42px
    font-weight: bold
    line-height: 48px
    color: $black
    text-transform: uppercase
h2
    font-weight: bold
    font-size: 42px
    line-height: 48px
    text-transform: uppercase
h3
    font-size: 26px
    font-weight: bold
    line-height: 30px
    text-transform: uppercase