.site-footer
    height: 200px
    background-color: $black-soft
    color: #ffffff
    .container
        display: flex
        justify-content: space-between
        padding-top: 15px
    &__middle
        position: relative
        display: flex
        flex-direction: column
        padding-top: 15px
        width: 100%
        max-width: 460px
    &__address
        display: flex
        padding-left: 15px
        img
            margin-right: 25px
            width: 107px
            height: 101px
    &__desc
        display: flex
        flex-direction: column
        &-title
            text-transform: uppercase
            margin-bottom: 10px
            font-weight: bold
            font-style: italic
        span
            line-height: 24px
    &__cards
        position: absolute
        border-top-left-radius: 10px
        border-top-right-radius: 10px
        display: flex
        justify-content: space-around
        bottom: -13px
        img
            height: 25px
            padding: 14px 20px
            background: #ffffff
            &:first-child
                border-top-left-radius: 10px
            &:last-child
                border-top-right-radius: 10px
    &__contacts
        display: flex
        flex-direction: column
        padding-top: 25px
        line-height: 24px
        strong
            font-weight: bold
    &__links
        padding-top: 30px
        ul
            display: flex
            justify-content: space-between
            li
                a
                    position: relative
                    color: #ffffff
                    &:before
                        content: ''
                        position: absolute
                        bottom: -4px
                        width: 100%
                        height: 2px
                        background-color: #ffffff
                        opacity: 1
                        transition:  opacity .2s ease-out
                    &:hover
                        &:before
                            opacity: 0