.site-header
    position: relative
    background-color: $main-color
    &__bg
        background: url("/assets/images/Group-33.png") no-repeat top right -2%
    &__mob
        display: none
        position: absolute
        right: 15px
        z-index: 1
        color: #ffffff
        font-style: normal
        font-size: 30px
        span
            height: 3px
            width: 30px
            position: absolute
            background-color: #ffffff
            left: -40px
            &:before
                content: ''
                position: absolute
                height: 3px
                width: 30px
                background-color: #ffffff
                top: 11px
                transition: all .25s
            &:after
                content: ''
                position: absolute
                height: 3px
                width: 30px
                background-color: #ffffff
                top: 22px
                transition: all .25s

    .container
        position: relative
        z-index: 100
    &__top
        display: flex
        align-items: center
        height: 120px
        font-style: italic
        overflow: hidden
    &__bottom
        background-color: $black-soft
        .container
            display: flex
            justify-content: space-between
            align-items: center
            height: 54px
    &__logo
        position: relative
        padding-right: 70px
        &:after
            content: ''
            position: absolute
            top: -23px
            right: -1px
            width: 0
            height: 0
            border-bottom: 120px solid $main-color
            border-right: 50px solid transparent
        &:before
            content: ''
            position: absolute
            width: 500px
            height: 120px
            top: -23px
            right: 49px
            background-color: $main-color
        svg
            position: relative
            width: 347px
            height: 71px
    &__menu
        ul
            display: flex
            margin: 0 -24px
            li
                padding: 0 24px
                a
                    position: relative
                    color: $black
                    font-weight: bold
                    &.site-header__menu_active
                        &:before
                            opacity: 1
                    &:before
                        content: ''
                        position: absolute
                        bottom: -2px
                        width: 100%
                        height: 2px
                        background-color: $black
                        opacity: 0
                        transition:  opacity .2s ease-out
                    &:hover
                        &:before
                            opacity: 1
    &__phone
        display: flex
        flex-direction: column
        margin-left: auto
    &__nav
        ul
            display: flex
            margin: 0 -62px
            li
                a
                    position: relative
                    font-size: 24px
                    color: #ffffff
                    padding: 0 62px
                    &:before
                        content: ''
                        position: absolute
                        bottom: -2px
                        width: calc(100% - 124px)
                        height: 2px
                        background-color: #ffffff
                        opacity: 0
                        transition:  opacity .2s ease-out
                    &:hover
                        &:before
                            opacity: 1
    &__button
        a
            padding: 24px 81px
            font-size: 25px
            color: #ffffff
            background-color: $main-color
            border-radius: 5px