@media (max-width: 1200px)
    .container
        padding: 0 15px

    .site-header
        &__bg
            background: none
        &__mob
            display: block
            &.is-active
                    span
                        width: 0
                        &:before
                            transform: rotate(45deg)
                            top: 13px
                        &:after
                            transform: rotate(-45deg)
                            top: 13px
        &__menu
            display: none
        &__phone
            display: none
        &__bottom
            display: none
            &.is-active
                display: block
                position: fixed
                top: 0
                right: 0
                height: 100vh
                width: 250px
                z-index: 50
                .container
                    flex-direction: column
                    padding-top: 120px
                    .site-header__nav
                        ul
                            flex-direction: column
                            text-align: center
                            li
                                margin-bottom: 40px
                    .site-header__button
                        padding-top: 20px


    // INDEX
    .slogan
        .container
            img
                padding: 0
    .advantages
        &__items
            &-left
                padding-right: 20px
    .customers
        &__block
            padding-right: 15px
        &__form
            &-text
                &:before
                    content: none
                &:after
                    content: none
    .faq
        &__list
            flex-direction: column
        &__question
            max-width: 100%
            button
                max-width: 90%
                padding-right: 50px
                text-align: left

    .facts
        &__left
            padding-right: 15px
            &-bottom
                display: none
        &__block
            &-check
                &:before
                    content: none
                &:after
                    content: none
    .site-footer
        height: auto
        .container
            flex-direction: column
            align-items: center
            padding-top: 0
            padding-bottom: 15px
            background-color: #2e2e2e
        &__left
            margin-bottom: 15px
        &__cards
            position: relative
            border-bottom-left-radius: 10px
            border-bottom-right-radius: 10px
            img
                &:first-child
                    border-bottom-left-radius: 10px
                &:last-child
                    border-bottom-right-radius: 10px
        &__right
            text-align: center

@media (max-width: 1050px)
    // INDEX
    .tips
        &__questions
            ul
                flex-direction: column
                align-items: center
                li
                    margin-bottom: 15px

    .site-header
        margin-bottom: 50px
    .about-slogan
        margin-bottom: 50px
        .container
            justify-content: center
            img
                display: none
        &__title
            position: relative
            top: 0

    // CAREERS
    .careers-slogan
        margin-bottom: 50px
        .container
            justify-content: center
            img
                display: none
        &__title
            position: relative
            top: 0
    .employee
        &__icon
            max-width: 170px
            svg
                width: 100px
                height: 100px
            span
                font-size: 20px

@media (max-width: 900px)
    // INDEX
    .customers
        &__blocks
            flex-direction: column
            align-items: center
        &__block
            margin-bottom: 20px
@media (max-width: 768px)

    .site-header__bottom.is-active
        width: 100%
    .site-header__logo
        &:after
            content: none
        &:before
            content: none
    //INDEX
    .about
        &__info
            flex-direction: column
            &-left
                margin-bottom: 10px
        &__link
            text-align: center
    .services
        &__items
            flex-direction: column
        &__item
            margin-bottom: 15px


    .about-slogan
        &__title
            svg
                width: 400px
                height: 82px
            span
                font-size: 30px
                padding-left: 95px

    // CAREERS
    .careers-slogan
        &__title
            svg
                width: 400px
                height: 82px
            span
                font-size: 30px
                padding-left: 95px
    .employee
        h1
            margin-bottom: 50px
        &__icons
            flex-direction: column
            align-items: center
        &__icon
            margin-bottom: 20px

    .facts
        &__left
            padding-right: 0
        &__block
            max-width: 100%
            margin-bottom: 30px
            &-top
                span
                    font-size: 30px
                    padding: 12px 0
            &-bottom
                padding: 20px 22px
                p
                    font-size: 20px
        .container
            flex-direction: column

@media (max-width: 550px)

    .site-header__logo svg
        width: 200px
        height: 41px
    // INDEX
    .slogan
        .container
            text-align: left
            img
                display: none
        &__title
            position: relative
            top: 0
            left: 0
            line-height: 49px
    .advantages
        &__items
            flex-direction: column
            &-left
                padding-right: 0
    .tips
        &__questions
            ul
                align-items: flex-start
        &__button
            justify-content: flex-start

    .about-slogan
        &__title
            svg
                width: 300px
                height: 61px
            span
                display: none

    // CAREERS
    .careers-slogan
        &__title
            svg
                width: 300px
                height: 61px
            span
                display: none
    .employee
        h1
            font-size: 30px
    .assistant
        h2
            font-size: 30px

    // FOOTER
    .site-footer
        .container
            align-items: flex-start
        &__right
            text-align: left
        &__address
            padding-left: 0
            img
                display: none
        &__cards
            flex-direction: column
            align-items: flex-start
            img
                border-radius: 10px
                margin-bottom: 10px
                &:last-child
                    margin-bottom: 0

@media (max-width: 370px)
    // CAREERS
    .terms
        &__title
            text-align: center