- var lang = 'en'
- var pageTitle = 'Home'
- var siteTitle = 'Sitename'

doctype html
html(lang=lang)

    block head
        meta(charset='utf-8')
        title= pageTitle + ' - ' + siteTitle
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content= 'Awesome site' )
        link(rel='stylesheet', href='assets/css/main.min.css')
        link(rel='icon' sizes='192x192' href='#')
        link(rel='apple-touch-icon' href='#')
        link(rel='mask-icon' href='#' color='#')
        script(src="assets/js/jquery-3.5.1.min.js")

    body

        include components/header

        block content

        include components/footer

        script(src="assets/js/main.min.js")
