extends ../layout
prepend head
    - var pageTitle = 'About us'

block content
    section.about-slogan
        .container
            img(src='assets/images/about-image.png')
            .about-slogan__title
                svg <use xlink:href="assets/images/images.svg#logo-second" />
                span BRINGING THE WORLD TO YOUR DOOR
    section.client
        .container
            h1 Become our client
            .client__info
                p #[span Our company provides assistance to a large number of buyers from all over the world.] We make it possible to buy and ship high-quality goods from any US online store within the shortest time possible.
                p #[span What are the common difficulties of buying goods at US online stores?] <br> You may face such issues as receiving broken or damaged goods, and inability to return money for them; loss of goods during the delivery process; shipping delays; absence of opportunity to use desired payment options; high shipping fees and no possibility of international shipping.
                p #[span How does our company solve these issues for you?] <br> We have hired a large staff of employees all over the USA who can accept, inspect, consolidate and provide all other shipping services for You while you are busy. You will not need to waste your time anymore on tiring calls to stores and postal services; time-consuming procedures of returning merchandise back to the stores or claiming refunds which may not be approved etc. We do whatever is needed instead of you. We cooperate with all major carriers like FEDEX, UPS, DHL, USPS and determine the most convenient shipping rates for you.
                p #[span Compensations.] All your orders and goods are protected by our company and we take full responsibility for your items being delivered on time and in the right condition. We compensate lost, damaged items and shipping delays.
                p #[span Enjoy shopping and do not worry about a thing.]
    section.facts
        .container
            .facts__left
                .facts__block
                    .facts__block-top
                        svg.rocket <use xlink:href="assets/images/images.svg#rocket" />
                        span WHEN DID WE START
                    .facts__block-bottom
                        p #[span Our business] was launched in 2014. We have been operating for more than 6 years already and we have helped thousands of customers all over the globe since then.
                .facts__block
                    .facts__block-top
                        svg.buy-goods <use xlink:href="assets/images/images.svg#buy-goods" />
                        span HOW WILL YOU <br> BUY GOODS
                    .facts__block-bottom
                        p.facts__block-check #[span You will be provided] with your very own US shipping address of one of our employees who will receive, inspect, consolidate and ship the packages right to the destination place you choose.
                        p.facts__block-check #[span You will be provided] with a personal manager who will take care of all the procedures connected with your order like returning, claiming the refund, making sure you receive the pictures of your merchandise before the shipping and contacting all the necessary services.
                .facts__left-bottom
                    svg <use xlink:href="assets/images/images.svg#about-logo" />
            .facts__right
                .facts__block
                    .facts__block-top
                        svg.mission <use xlink:href="assets/images/images.svg#mission" />
                        span What is our mission
                    .facts__block-bottom
                        p.facts__block-check #[span We make] the shipping process as smooth as possible and save your time.
                        p.facts__block-check #[span We give] you an opportunity to avoid overpaying for items which are normally much cheaper in USA stores. If you have always dreamt of American high-quality merchandise, we will make your dreams come true and help you deliver whatever you want wherever you want within the shortest time frames.
                .facts__block
                    .facts__block-top
                        svg.guarantee <use xlink:href="assets/images/images.svg#guarantee" />
                        span What do we guarantee
                    .facts__block-bottom
                        p.facts__block-check #[span We will make sure] you will not receive damaged or broken goods. We guarantee one hundred percent refund of your money being paid for our services in case of any delivery issues.
                        p.facts__block-check #[span We provide 24/7] Customer Care so you can contact us anytime you want.
                        p.facts__block-check #[span We control all the stages] of the delivery process from the moment the order is placed by you to the moment you receive the order at your place.