extends ../layout
prepend head
    - var pageTitle = 'Home page'

block content
    section.careers-slogan
        .container
            img(src='assets/images/careers-image.png')
            .careers-slogan__title
                svg <use xlink:href="assets/images/images.svg#logo-second" />
                span BRINGING THE WORLD TO YOUR DOOR

    section.employee
        .container
            h1 BEING OUR EMPLOYEE
            .employee__icons
                .employee__icon
                    svg <use xlink:href="assets/images/images.svg#schedule" />
                    span Flexible work #[em schedule]
                .employee__icon
                    svg <use xlink:href="assets/images/images.svg#opportunities" />
                    span Promotion #[em opportunities]
                .employee__icon
                    svg <use xlink:href="assets/images/images.svg#e-salary" />
                    span Competitive <br> #[em e-salary]
                .employee__icon
                    svg <use xlink:href="assets/images/images.svg#support" />
                    span 24/7 <br> #[em Support]

    section.assistant
        .container
            h2 ADMINISTRATIVE ASSISTANT POSITION
            p Best Shop USA inc. offers worldwide shipping services to clients from all over the world who want to purchase goods at American online stores like Amazon, BestBuy, eBay, Walmart and many others. Our clients are people who live in different countries and do not have time or possibility to handle all the delivery processes.
            p We make shopping easy for them by taking care of all the delivery stages from A-Z.
            p The role of Administrative Assistant is to: <br> - receive and inspect packages <br> - meet the shipping deadlines set by the client <br> - make sure the items are correct and not damaged <br> - take pictures of the item if required <br> - consolidate packages <br> - ship packages using prepaid shipping labels overseas

    section.terms
        .container
            span.terms__title REQUIREMENTS
            ul
                li
                    svg <use xlink:href="assets/images/images.svg#exclamation" />
                li Above 18 y.o.
                li PC or laptop
                li Cell phone with camera
                li Physical living address: house or apartment
                li Access to a printer
    section.terms
        .container
            span.terms__title We offer
            ul
                li
                    svg <use xlink:href="assets/images/images.svg#offer" />
                li Home-based smooth working conditions
                li Flexible schedule
                li Competitive salary
                li Part-time (up to $1700/month) and Full-time (up to $3200/month)
                li Biweekly payments
                li We cover your shipping-related expenses
                li Access to user-friendly web app

    section.steps
        .container
            p #[span Our onboarding process consists of two small steps:] 10-minute phone interview and web-based training. You will have access to our web application and a rulebook which will explain all the procedures A-Z.
            p If you are willing to start, please, complete the Application Form below or call us or email us. <br> We are open Monday - Friday, 8am to 6pm EST.

    section.form

    // FAQ
    include ../components/faq