extends ../layout
prepend head
    - var pageTitle = 'Home page'

block content
    section.slogan
        .container
            img(src='assets/images/slogan-image.jpg')
            .slogan__title
                span BRINGING THE WORLD
                span TO YOUR DOOR
    section.about
        .container
            h3 About us
            .about__info
                .about__info-left
                    p #[span Thanks to the work of our company,] people who live in different countries can get cheap, qualitative and modern goods at US online stores.
                    p #[span We deliver our customers’ goods within a short period of time] because a large number of employees work for our company practically in every state of the USA.
                    p We are trying to make the purchase process as easy as possible. We have already helped thousands of customers to acquire goods and managed to bring the process of purchasing and delivering goods to perfection using our unique automated system.
                .about__info-right
                    p #[span With our help, you have an opportunity to make an order at a real American address.] It allows buying necessary goods at online stores which do not provide international shipping.
                    p #[span The addresses we provide to customers are the real addresses] of our employees in the USA. Every order you make will be delivered to our employees. Then the order will be sent to one of our partners’ warehouses and later delivered to any place you wish.
                    p #[span Some orders] can be delivered from our employees directly to you without being sent to the warehouses.
            .about__link
                a(href='#') Read more
                
    section.services
        .container
            h3 Our Services
            .services__items
                .services__item
                    svg.goods <use xlink:href="assets/images/images.svg#goods" />
                    span Branded quality goods
                .services__item
                    svg.saving <use xlink:href="assets/images/images.svg#saving" />
                    span Saving up to 90%
                .services__item
                    svg.experience <use xlink:href="assets/images/images.svg#experience" />
                    span Long experience
                .services__item
                    svg.addresses <use xlink:href="assets/images/images.svg#addresses" />
                    span Real American addresses
                .services__item
                    svg.customers <use xlink:href="assets/images/images.svg#customers" />
                    span Thousand of grateful customers

    section.advantages
        .container
            h3 MORE ADVANTAGES
            .advantages__items
                .advantages__items-left
                    .advantages__item
                        .advantages__item-name
                            span 1
                            span Shipping
                        .advantages__item-body
                            p We send customer goods to the warehouses of our partnering logistic companies and form an insurance policy for every cargo. We determine whichway of shipping is the most suitable for you, fill in the necessary declarations and supporting documents.
                    .advantages__item
                        .advantages__item-name
                            span 2
                            span ORDER PROCESSING
                        .advantages__item-body
                            p Your order is under our personal protection from the first minute it has been made and up to the moment when you get it. We entirely control the fulfillment of obligations by the store and shipping company and insure ordered goods.
                    .advantages__item
                        .advantages__item-name
                            span 3
                            span WAREHOUSING
                        .advantages__item-body
                            p Ideal conditions of storage and transportation are provided for our customers. We have employees in any state of the USA. With their help, it is possible to optimize the terms of shipment and choose the best mode of forwarding so that your goods will be delivered to you as soon as possible.
                    .advantages__item
                        .advantages__item-name
                            span 4
                            span SPECIAL OFFERS
                        .advantages__item-body
                            p Special offers are available for our customers. We are always ready to help you choose the cheapest goods possible and assist in saving money on transportation costs. We accept a large number of goods, consolidate numerous purchases and send them to our customers.
                .advantages__items-right
                    .advantages__item
                        .advantages__item-name
                            span 5
                            span PERSONAL SHOPPER SERVICE
                        .advantages__item-body
                            p Your satisfaction is our top priority. We want your purchases to be really useful and highly profitable to you. Our specialist is ready to help you solve the following questions:
                            p - Analyzing the availability of the goods you need at US online stores
                            p - Comparing the prices of the goods you are interested in at various shops
                            p - Supporting your order until it is delivered to you.
                    .advantages__item
                        .advantages__item-name
                            span 6
                            span Parcels CONSOLIDATION
                        .advantages__item-body
                            p It is possible to consolidate parcels to achieve full convenience and save money. You can order different items at different stores and get them in one parcel paying for one shipment. Our employee will gather goods you ordered at different stores and send them to you using any comfortable forwarding mode.
                    .advantages__item
                        .advantages__item-name
                            span 7
                            span REAL AMERICAN ADDRESSES
                        .advantages__item-body
                            p You will have your own real American addresses and a personal manager for solving all issues connected with the order. The manager will check all goods before shipping them to you. Forget about the problems with returning the goods, expensive phone calls and long talks with shipping companies. All you need is to say what you want, and you will get it within the shortest time possible. Our employees work quickly, reliably and professionally.

    section.tips
        .container
            h3 USEFUL TIPS
            .tips__questions
                ul
                    li
                        span How to choose quality goods?
                    li
                        span How to save your time?
                    li
                        span How to save your money?
            .tips__button
                a(href='/careers.html') Read answers
    section.customers
        .container
            h3 What people say about us
            span Recent reviews from Google
            .customers__blocks
                .customers__block
                    .customers__block-head
                        img(src='assets/images/customer.png' alt='photo')
                        span Neal Heffington
                    .customers__block-text
                        p A year ago, a company employee wrote to me on Facebook. At that time I was looking for a job urgently, because we have three children and wanted to help my husband. Now I am glad that they found me. The work is stable and the management is very loyal. I recommend this company!
                .customers__block
                    .customers__block-head
                        img(src='assets/images/customer-nophoto.png' alt='photo')
                        span Neal Heffington
                    .customers__block-text
                        p I am working with Best Shop USA for 6 months. This is one of the best workplaces I have ever had. Working place is comfortable (because it is my own home, lol), payment is decent and always in time.!
                .customers__block
                    .customers__block-head
                        img(src='assets/images/customer-nophoto.png' alt='photo')
                        span Neal Heffington
                    .customers__block-text
                        p Worked there for a few years, thanks for the opportunity guys.. I am a single dad of 3 and this helps me out a lot
            .customers__form
                form(method='post' action='#')
                    .customers__form-text
                        textarea(name='feedback' placeholder='Share your experience of working with us')
                    .customers__form-link
                        a(href='#') Send my feedback
            .customers__form-text
                #wpcf7-f47-o1.wpcf7(role='form' lang='ru-RU' dir='ltr')
                    .screen-reader-response(role='alert' aria-live='polite')
                    form.wpcf7-form.init(action='/#wpcf7-f47-o1' method='post' novalidate='novalidate')
                        div(style='display: none;')
                            input(type='hidden' name='_wpcf7' value='47')
                            input(type='hidden' name='_wpcf7_version' value='5.2.2')
                            input(type='hidden' name='_wpcf7_locale' value='ru_RU')
                            input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f47-o1')
                            input(type='hidden' name='_wpcf7_container_post' value='0')
                            input(type='hidden' name='_wpcf7_posted_data_hash' value='')
                        p
                            label
                                | &Scy;&ocy;&ocy;&bcy;&shchcy;&iecy;&ncy;&icy;&iecy;
                                br
                                span.wpcf7-form-control-wrap.placeholder
                                    grammarly-extension._1KJtL(style='position: absolute; top: 0px; left: 0px; pointer-events: none;')
                                    textarea.wpcf7-form-control.wpcf7-textarea(name='placeholder' cols='40' rows='10' aria-invalid='false' spellcheck='false') Share your experience of working with us
                        p
                            input.wpcf7-form-control.wpcf7-submit.customers__form-link(type='submit' value='Send my feedback')
                        .wpcf7-response-output(role='alert' aria-hidden='true')

    section.reviews
        .container
            h3 MORE REVIEWS ON
            .reviews__sites
                .reviews__sites-image
                    a(href='#')
                        img(src='assets/images/sitejabber-logo.png' alt='sitejabber-logo')
                .reviews__sites-image
                    a(href='#')
                        img(src='assets/images/trustpilot-logo.png' alt='trustpilot-logo')
                .reviews__sites-image
                    a(href='#')
                        img(src='assets/images/google-logo.png' alt='google-logo')

    section.map
        h3 We are on Google Maps
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6786.455115044228!2d30.55982532200688!3d50.426021265704286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf76e65d4dad%3A0x247b398f405dff8f!2z0JHQsNGC0YzQutGW0LLRidC40L3QsC3QnNCw0YLQuA!5e0!3m2!1sru!2sua!4v1598451771739!5m2!1sru!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")

    // FAQ
    include ../components/faq
