section.faq
    .container
        h3 FAQ
        .faq__list
            .faq__question
                .faq__question-acc
                    button.faq__accordion Will I be provided with a real American address or just a post box?
                    svg <use xlink:href="assets/images/images.svg#arrow-down" />
                .faq__panel
                    p A complete US address not just a post box will be provided for you. This is the address of one of our employees. All US online stores will have an opportunity to deliver your orders to this address, after which, they will be sent to any place you wish.
            .faq__question
                .faq__question-acc
                    button.faq__accordion Will I be provided with a real American address or just a post box?
                    svg <use xlink:href="assets/images/images.svg#arrow-down" />
                .faq__panel
                    p A complete US address not just a post box will be provided for you. This is the address of one of our employees. All US online stores will have an opportunity to deliver your orders to this address, after which, they will be sent to any place you wish.
            .faq__question
                .faq__question-acc
                    button.faq__accordion Will I be provided with a real American address or just a post box?
                    svg <use xlink:href="assets/images/images.svg#arrow-down" />
                .faq__panel
                    p A complete US address not just a post box will be provided for you. This is the address of one of our employees. All US online stores will have an opportunity to deliver your orders to this address, after which, they will be sent to any place you wish.
            .faq__question
                .faq__question-acc
                    button.faq__accordion Will I be provided with a real American address or just a post box?
                    svg <use xlink:href="assets/images/images.svg#arrow-down" />
                .faq__panel
                    p A complete US address not just a post box will be provided for you. This is the address of one of our employees. All US online stores will have an opportunity to deliver your orders to this address, after which, they will be sent to any place you wish.