footer.site-footer
    .container
        .site-footer__left
            .site-footer__logo
                svg <use xlink:href="assets/images/images.svg#footer-logo" />
            .site-footer__copy &copy; 2014–2020, Best Shop Usa, inc.
        .site-footer__middle
            .site-footer__address
                img(src='assets/images/department-of-state.jpg' alt='department-of-state-logo')
                .site-footer__desc
                    span.site-footer__desc-title BEST SHOP USA, INC
                    span Address: 340 Madison Ave 19 FLR,
                    span New York, 10173
                    span DOS ID # 4006996
            .site-footer__cards
                img(src='assets/images/paypal.png' alt='paypal-logo') 
                img(src='assets/images/visa.png' alt='visa-logo') 
                img(src='assets/images/mastercard.png' alt='mastercard-logo') 
                img(src='assets/images/escrow.png' alt='escrow-logo')
        .site-footer__right
            .site-footer__contacts
                span Сall us: #[strong 1.334.316.0818]
                span Text us: #[strong 1.347.269.3586]
                span Email: #[strong hr@bestshop-usa.store]
                span Email: #[strong info@bestshop-usa.store]
            .site-footer__links
                ul
                    li
                        a(href='#') Privacy Policy
                    li
                        a(href='#') Cookies
