header.site-header
    .site-header__bg
        .container
            .site-header__top
                .site-header__logo
                    svg <use xlink:href="assets/images/images.svg#logo" />
                .site-header__menu
                    ul
                        li
                            a(href='#') About us
                        li
                            a(class='site-header__menu_active' href='#') Careers
                        li
                            a(href='#') Leave your feedback
                .site-header__phone
                    span Call us: 1 334 316 0818
                    span Text us: 1 347 269 3586
                .site-header__mob Menu
                    span
        .site-header__bottom
            .container
                nav.site-header__nav
                    ul
                        li
                            a(href='#') Our services
                        li
                            a(href='#') Useful tips
                        li
                            a(href='#') Reviews
                        li
                            a(href='#') FAQ
                .site-header__button
                    a(href='#') Apply
