.about-slogan
    .container
        position: relative
        display: flex
    img
        position: relative
        left: -115px
        width: 100%
        max-width: 1044px
        height: 587px
    &:before
        content: ''
        position: absolute
        background: linear-gradient(270deg, #FFFFFF -9.45%, rgba(255, 255, 255, 0) 50%)
    &__title
        position: absolute
        top: 145px
        right: 0
        display: flex
        flex-direction: column
        svg
            width: 609px
            height: 124px
        span
            width: 100%
            max-width: 460px
            font-size: 37px
            font-weight: bold
            font-style: italic
            line-height: 49px
            padding-left: 147px

.client
    h1
        text-align: left
        margin-bottom: 40px
    &__info
        p
            border-left: 2px solid $main-color
            margin-bottom: 40px
            padding-left: 30px
            line-height: 29px
            text-align: justify
            font-size: 20px
            span
                font-weight: bold

.facts
    .container
        display: flex
        justify-content: space-between
    &__left
        &-bottom
            text-align: center
            svg
                margin-top: 45px
                width: 462px
                height: 95px
    &__block
        width: 100%
        max-width: 530px
        margin-bottom: 90px
        &-top
            position: relative
            z-index: 100
            display: flex
            align-items: center
            border-radius: 5px
            background-color: $second-color
            svg
                padding: 18px 20px
                &.rocket
                    width: 65px
                    height: 65px
                &.buy-goods
                    width: 70px
                    height: 65px
                &.mission
                    width: 65px
                    height: 65px
                &.guarantee
                    width: 74px
                    height: 93px
            span
                text-transform: uppercase
                color: #ffffff
                font-size: 36px
                font-weight: bold
                line-height: 41px
                padding: 24px 0
        &-bottom
            position: relative
            top: -3px
            background-color: #ebebeb
            padding: 30px 44px
            p
                position: relative
                font-size: 27px
                line-height: 41px
                color: #404040
                text-align: justify
                padding-bottom: 30px
                &:last-child
                    padding-bottom: 0
                span
                    font-weight: bold
        &-check
            &:before
                content: ''
                position: absolute
                top: 0
                left: -100px
                background: url("/assets/images/check-bottom.png") no-repeat
                width: 76px
                height: 126px
                z-index: -1
            &:after
                content: ''
                position: absolute
                top: 0
                left: -100px
                background: url("/assets/images/check.png") no-repeat
                width: 76px
                height: 76px