.careers-slogan
    margin-bottom: 110px
    .container
        position: relative
        display: flex
    img
        position: relative
        left: -300px
        width: 100%
        max-width: 882px
        height: 587px
    &:before
        content: ''
        position: absolute
        background: linear-gradient(270deg, #FFFFFF -9.45%, rgba(255, 255, 255, 0) 50%)
    &__title
        position: absolute
        top: 145px
        right: 0
        display: flex
        flex-direction: column
        svg
            width: 609px
            height: 124px
        span
            width: 100%
            max-width: 460px
            font-size: 37px
            font-weight: bold
            font-style: italic
            line-height: 49px
            padding-left: 147px

.employee
    margin-bottom: 100px
    h1
        margin-bottom: 115px
        text-align: center
    &__icons
        display: flex
        justify-content: space-between
    &__icon
        display: flex
        flex-direction: column
        align-items: center
        max-width: 250px
        text-align: center
        svg
            width: 100%
            max-width: 153px
            height: 153px
            margin-bottom: 25px
        span
            font-size: 26px
            font-weight: bold
            text-transform: uppercase
            line-height: 37px
        em
            font-style: italic


.assistant
    margin-bottom: 50px
    h2
        margin-bottom: 55px
        font-weight: bold
        font-size: 42px
        line-height: 48px
        text-align: center
        text-transform: uppercase
    p
        border-left: 2px solid $main-color
        margin-bottom: 40px
        padding-left: 30px
        line-height: 29px
        text-align: justify
        font-size: 20px

.terms
    margin-bottom: 50px
    .container
        position: relative
        max-width: 1050px
    &__title
        position: absolute
        left: 50%
        transform: translateX(-50%)
        top: -14px
        background: #ffffff
        padding: 0 20px
        font-size: 30px
        font-weight: bold
        text-transform: uppercase
    ul
        padding: 40px 30px 30px 30px
        border: 3px solid $main-color
        border-radius: 20px
        text-align: center
        li
            margin-bottom: 25px
            font-size: 20px
            &:first-child
                margin-bottom: 0
            &:last-child
                margin-bottom: 0
            svg
                width: 54px
                height: 50px
                margin-bottom: 30px

.steps
    margin-top: 130px
    margin-bottom: 80px
    .container
        display: flex
        flex-direction: column
        justify-content: center
        max-width: 980px
    p
        text-align: center
        margin-bottom: 40px
        line-height: 29px
        font-size: 20px
        span
            font-weight: bold

.form
    width: 100%
    max-width: 1160px
    height: 670px
    margin: 0 auto
    background-color: #eeeeee
    margin-bottom: 90px