.slogan
    margin-bottom: 90px
    .container
        position: relative
        text-align: right
        img
            width: 100%
            max-width: 940px
            max-height: 625px
            padding-top: 50px
            padding-right: 55px
    &__title
        position: absolute
        top: 50px
        left: 0
        display: flex
        flex-direction: column
        span
            position: relative
            padding: 10px 20px
            background-color: $black-soft
            color: #ffffff
            font-size: 37px
            font-weight: bold
            &:last-child
                align-self: baseline
                top: -1px
.about
    margin-bottom: 45px
    h3
        text-align: center
        margin-bottom: 45px
    &__info
        display: flex
        margin-bottom: 20px
        &-left
            padding-right: 20px
            padding-left: 25px
            border-left: 3px solid $black-soft
            p:last-child
                font-style: italic
        &-right
            display: flex
            flex-direction: column
            padding: 12px 24px
            background-color: $black-soft
            color: #ffffff
        p
            padding-bottom: 30px
            line-height: 22px
            text-align: justify
            &:last-child
                padding: 0
            span
                font-weight: bold
                font-style: italic
    &__link
        text-align: right
        a
            position: relative
            color: $main-color
            font-weight: bold
            &:before
                content: ''
                position: absolute
                bottom: -2px
                width: 100%
                height: 2px
                background-color: $main-color
                opacity: 1
                transition:  opacity .2s ease-out
            &:hover
                &:before
                    opacity: 0

.services
    margin-bottom: 100px
    &__items
        display: flex
        justify-content: space-between
    h3
        text-align: center
        margin-bottom: 40px
    &__item
        display: flex
        justify-content: flex-end
        align-items: center
        flex-direction: column
        span
            max-width: 200px
            font-weight: bold
            line-height: 22px
            text-align: center
        svg
            margin-bottom: 40px
        .goods
            width: 90px
            height: 102px
        .saving
            width: 83px
            height: 117px
        .experience
            width: 95px
            height: 114px
        .addresses
            width: 116px
            height: 98px
        .customers
            width: 96px
            height: 97px

.advantages
    margin-bottom: 70px
    h3
        text-align: center
        margin-bottom: 60px
    &__items
        display: flex
        justify-content: space-between
        &-left
            width: 100%
            max-width: 555px
        &-right
            width: 100%
            max-width: 555px
            .advantages__item
                &:nth-child(1)
                    margin-bottom: 5px
                &:nth-child(2)
                    margin-bottom: 10px
    &__item
        &-name
            display: flex
            margin-bottom: 10px
            span:first-child
                font-size: 59px
                font-weight: bold
                line-height: 68px
                color: $main-color
                margin-left: -14px
                padding-right: 20px
            span:last-child
                align-self: center
                line-height: 23px
                font-weight: bold
                text-transform: uppercase
        &-body
            p
                padding: 10px 0 0 20px
                border-left: 2px solid $black
                line-height: 22px

.tips
    margin-bottom: 70px
    h3
        margin-bottom: 40px
        text-align: center
    &__questions
        margin-bottom: 40px
        ul
            display: flex
            justify-content: space-between
            li
                position: relative
                &:before
                    content: ''
                    position: absolute
                    width: 21px
                    height: 21px
                    background-color: $main-color
                    border-radius: 50%
                span
                    font-size: 24px
                    font-weight: bold
                    padding-left: 35px
                    line-height: 28px
                    color: $black-soft
    &__button
        display: flex
        justify-content: center
        a
            position: relative
            display: flex
            justify-content: center
            align-items: center
            padding: 23px 47px
            background-color: $main-color
            border-radius: 5px
            font-style: italic
            color: #ffffff
            transition: all .3s ease-in-out
            &:before
                content: ''
                position: absolute
                bottom: 19px
                width: calc(100% - 94px)
                height: 2px
                background-color: #ffffff
                opacity: 0
                transition:  opacity .2s ease-out
            &:hover
                &:before
                    opacity: 1

.customers
    margin-bottom: 55px
    h3
        text-align: center
        margin-bottom: 35px
        &+span
            display: block
            text-align: center
            margin-bottom: 45px
            font-weight: bold
            line-height: 22px
    &__blocks
        display: flex
        justify-content: space-between
        margin-bottom: 40px
    &__block
        width: 100%
        max-width: 374px
        &-head
            margin-bottom: 37px
            display: flex
            align-items: center
            img
                width: 107px
                height: 107px
                border-radius: 50%
                margin-right: 25px
            span
                font-weight: bold
                line-height: 22px
        &-text
            p
                position: relative
                padding: 15px 20px
                background-color: #eeeeee
                border-radius: 10px
                font-style: italic
                text-align: justify
                line-height: 22px
                &:before
                    content: ''
                    position: absolute
                    top: -17px
                    left: 74px
                    width: 0
                    height: 0
                    border-bottom: 17px solid #eeeeee
                    border-right: 17px solid transparent
    &__form
        text-align: center
        &-text
            position: relative
            textarea
                padding: 18px 15px
                width: 100%
                max-width: 770px
                height: 135px
                background-color: #fbfbfb
                box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.15)
                border-radius: 10px
                border: 0
                color: $black
                font-family: $default-f
                font-size: 19px
                line-height: 22px
                outline: none
                box-sizing: border-box
                &::placeholder
                    color: $black
                &:focus::placeholder
                    color: transparent
            &:before
                content: ''
                position: absolute
                width: 157px
                height: 1px
                background-color: #e0e0e0
                top: 50%
                left: 0
            &:after
                content: ''
                position: absolute
                width: 157px
                height: 1px
                background-color: #e0e0e0
                top: 50%
                right: 0
        &-link
            display: flex
            justify-content: center
            margin-top: 15px
            a
                position: relative
                display: flex
                justify-content: center
                align-items: center
                padding: 20px 80px
                background-color: $main-color
                border-radius: 5px
                color: #ffffff
                transition: all .3s ease-in-out
                &:before
                    content: ''
                    position: absolute
                    bottom: 17px
                    width: calc(100% - 160px)
                    height: 2px
                    background-color: #ffffff
                    opacity: 0
                    transition:  opacity .2s ease-out
                &:hover
                    &:before
                        opacity: 1

textarea.wpcf7-textarea
    &:focus::placeholder
        color: transparent

.reviews
    margin-bottom: 100px
    h3
        text-align: center
        margin-bottom: 30px
    &__sites
        display: flex
        justify-content: center
        flex-wrap: wrap
        margin-right: -30px
        width: 100%
        &-image
            margin-bottom: 20px
            a
                display: flex
                justify-content: center
                align-items: center
                width: 255px
                height: 65px
                background-color: #1b1b1b
                margin-right: 30px

.map
    margin-bottom: 80px
    h3
        text-align: center
        margin-bottom: 50px
    iframe
        width: 100%
        height: 595px

.faq
    margin-bottom: 100px
    h3
        margin-bottom: 45px
        text-align: center
    &__list
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__question
        max-width: 540px
        margin-bottom: 35px
        &-acc
            display: flex
            justify-content: space-between
            padding: 10px 30px
            background-color: $black-soft
            svg
                align-self: center
                width: 16px
                height: 8px
                transition: all .2s
                &.active
                    transform: rotate(180deg)
    &__accordion
        position: relative
        border: none
        background-color: $black-soft
        color: #ffffff
        line-height: 24px
        font-weight: bold
        font-size: 19px
        text-align: justify
        max-width: 420px
        &:focus
            outline: none
    &__panel
        max-height: 0
        overflow: hidden
        transition: max-height 0.2s ease-out
        p
            padding: 30px
            line-height: 24px
            background-color: #f3f3f3
